* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.block{
    background-color: rgb(8, 34, 54);
    width: 100%;
    height: 625px;
    position: fixed;
}
.block-1{
    background-color:#fff;
    width: 95%;
    height: 565px;
    margin: auto;
    margin-top: 30px;
}